.goofy {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 24;
}

.game {
  margin: 0 auto:
}

.game-outer-container {
  text-align: center;
  margin: 0 auto;
}

.game-interior-container {
  margin: 0 auto;
  border-color: "black";
  border-radius: 5px;
}
