.snake {
  width: 700px;
  height: 700px;
  margin: 0 auto;
}

.board-piece {
  float: left;
  height: 14px;
  width: 14px;
  background-color: black;
}

.snake-segment {
  background-color: blue;
}

.apple {
  background-color: red;
}

.title {
  text-align: center;
}

.game-container {
  margin: 0 auto;
  text-align: center;
}

#bootstrap-overrides {
  z-index: 1;
  width: 350px;
  height: 50px;
  margin: auto auto;
  top: 50%;
  right: 36%;
  position: absolute;
  background-color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.btn-primary {
}
