.snake {
  width: 720px;
  height: 720px;
  margin: 0 auto;
  text-align: center;
  border-width: 10px;
  border-style: solid;
  border-color: green;
}

.board-piece {
  float: left;
  height: 14px;
  width: 14px;
  background-color: white;
}

.snake-segment {
  background-color: blue;
}

.apple {
  background-color: red;
}

.title {
  text-align: center;
}

.game-container {
  margin: 0 auto;
  text-align: center;
}

#bootstrap-overrides {
  z-index: 1;
  width: auto;
  height: 50px;
  margin: auto auto;
  top: 50%;
  right: 36%;
  text-align: center;
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  color: black;
}
